<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Users Page</title>
</head>
<body>
    <h1>Here are Users for app_two!</h1>
    {% if users %}
    <ul>
        {% for person in users %}
        <li>First Name: {{ person.first_name }}</li>
        <li>Last Name: {{ person.last_name }}</li>
        <li>Email: {{ person.email }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>